@font-face {
    font-family: 'Cathiy Betiey';
    src: local('CathiyBetiey'),
        url('CathiyBetiey.woff2') format('woff2'),
        url('CathiyBetiey.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ahoe';
    src: local('Ahoe'), local('AhoeRegular'),
        url('AhoeRegular.woff2') format('woff2'),
        url('AhoeRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

