/* All the fonts MUST BE INSIDE the css folder, not in an aditional folder, not on a extra folder in the assets folder. Otherwise it won't work.*/
@font-face {
    font-family: 'Belinda';
    src: url('BelindaAvenue-regular.woff2') format('woff2'),
         url('BelindaAvenue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Galisha';
    src: url('galisha_script.woff2') format('woff2'),
         url('galisha_script.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.galisha{
    font-family: 'Galisha', Georgia, Times, 'cursive';
}

.belinda {
    font-family: 'Belinda', 'Times New Roman', Times,  Georgia, serif;
    font-weight: normal;
    font-style: normal;
    }

.navbar {
    background-color: #567a8a;
}

.title {
    font-size: 5.5em;
    color: #eca3af;
}

.title2 {
    font-size: 4em;
    color: #f0c57f;
}

.paragraph {
    font-size: 1.3em;
    color: #f2ebe2;
    background-color: rgba(86, 122, 0138, 0.6); /*the 0.6 is the intensity of the background color*/
    border-radius: 10px; /*this is the roundness of the corner*/
    padding: 15px;
    text-align: justify;
}

.card-title {
    font-size: 2.5em;
}

.card-text {
    font-size: 1em;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.card-text, .card-title {
    text-align: center;
}

.btn {
    line-height: 1em;
    padding-top: 18px;
}